@model QuanLySach.Models.Sach

@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Chi Tiết Sản Phẩm</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>
            <img src="~/Content/HinhAnhSP/@Html.DisplayFor(model => model.AnhBia)" alt="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moi)
        </dd>

    </dl>
</div>
<a href="@Url.Action("ThemGioHang", "GioHang", new { ms = Model.MaSach,str = Request.Url.ToString() })">
    <input type="submit" value="THÊM VÀO GIỎ HÀNG" class="btn btn-primary" />
</a>
<a href="@Url.Action("SachPartial","Sach")">
    <input type="submit" value="MUA TIẾP " class="btn btn-primary" />
</a>
